@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,200,100&.css);/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.wrapper,
.header-wrapper,
.title h1,
.docs {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper:before,
.header-wrapper:before,
.title h1:before,
.docs:before,
.wrapper:after,
.header-wrapper:after,
.title h1:after,
.docs:after {
  content: '';
  display: table;
}
.wrapper:after,
.header-wrapper:after,
.title h1:after,
.docs:after {
  clear: both;
}
.wrapper {
  position: relative;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #2a5dad;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #606060;
  line-height: 1.5;
}
.header {
  zoom: 1;
  position: relative;
  text-align: center;
  background: #db594c;
  background-image: -webkit-radial-gradient(95% 101%, #e46643 5%, rgba(226,91,72,0) 100%);
  background-image: -moz-radial-gradient(95% 101%, #e46643 5%, rgba(226,91,72,0) 100%);
  background-image: -o-radial-gradient(95% 101%, #e46643 5%, rgba(226,91,72,0) 100%);
  background-image: -ms-radial-gradient(95% 101%, #e46643 5%, rgba(226,91,72,0) 100%);
  background-image: radial-gradient(95% 101%, #e46643 5%, rgba(226,91,72,0) 100%);
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header .logo {
  width: 42px;
  height: 42px;
  vertical-align: middle;
}
.header h1 {
  max-width: 380px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 42px;
  color: #fff;
  line-height: 49px;
  margin: 80px auto 40px;
  z-index: 110;
}
.header .get-started {
  font-family: 'Raleway';
  display: inline-block;
  margin: 0 auto;
  font-size: 13px;
  color: #fff;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 15px;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 12px 18px;
  z-index: 111;
  position: relative;
}
.header .get-started:hover {
  background: #fff;
  color: #e05b49;
  text-decoration: none;
}
.header-wrapper {
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  z-index: 100;
}
.header-extended {
  padding-bottom: 100px;
}
.header-nav {
  margin-top: 8px;
}
.header-nav a {
  font-family: 'Raleway';
  font-size: 13px;
  color: #fff;
  margin: 0 16px;
  padding: 0 2px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 15px;
  position: relative;
}
.header-nav a.active:before {
  content: '';
  width: 5px;
  height: 5px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  position: absolute;
  background: #fff;
  left: 50%;
  margin-left: -3px;
  bottom: -24px;
}
.header-logo {
  font-family: 'Raleway';
  font-size: 22px;
  color: #fff;
  float: left;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.header-nav {
  float: right;
}
.logo path {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  -webkit-animation: logo-dash 0.9s ease-in-out forwards;
  -moz-animation: logo-dash 0.9s ease-in-out forwards;
  -o-animation: logo-dash 0.9s ease-in-out forwards;
  -ms-animation: logo-dash 0.9s ease-in-out forwards;
  animation: logo-dash 0.9s ease-in-out forwards;
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.logo g ellipse {
  -webkit-animation: logo-dot 0.3s ease forwards;
  -moz-animation: logo-dot 0.3s ease forwards;
  -o-animation: logo-dot 0.3s ease forwards;
  -ms-animation: logo-dot 0.3s ease forwards;
  animation: logo-dot 0.3s ease forwards;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.logo g:nth-child(2) ellipse {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.logo g:nth-child(3) ellipse {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.logo g:nth-child(4) ellipse {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.logo g:nth-child(5) ellipse {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.logo g:nth-child(6) ellipse {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.logo g:nth-child(7) ellipse {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.logo g:nth-child(8) ellipse {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#header-background {
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.particles-js-canvas-el {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
}
.starwars-example {
  background: #3c3c3c;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: -100px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  font-size: 13px;
  padding: 17px 17px 17px 71px;
  width: 236px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.starwars-example:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 32px;
  width: 32px;
}
.starwars-example:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.32);
}
.improve-document-link {
  position: fixed;
  right: 0;
  bottom: 70px;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background: #999;
  border: 1px solid #919191;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  padding: 9px 12px 12px 34px;
  -webkit-transform: rotate(270deg) translateX(100%) translateY(3px);
  -moz-transform: rotate(270deg) translateX(100%) translateY(3px);
  -o-transform: rotate(270deg) translateX(100%) translateY(3px);
  -ms-transform: rotate(270deg) translateX(100%) translateY(3px);
  transform: rotate(270deg) translateX(100%) translateY(3px);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 11px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.improve-document-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 8px;
  height: 16px;
  width: 16px;
}
.improve-document-link:hover {
  -webkit-transform: rotate(270deg) translateX(100%);
  -moz-transform: rotate(270deg) translateX(100%);
  -o-transform: rotate(270deg) translateX(100%);
  -ms-transform: rotate(270deg) translateX(100%);
  transform: rotate(270deg) translateX(100%);
  background: #666;
  border-color: #555;
}
@media only screen and (max-width: 600px) {
  .improve-document-link {
    display: none;
  }
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.docs-content >h1 {
  display: block;
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 1.2em;
  padding-top: 0.3em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  color: #4a4a4a;
}
.markdown {
  margin-bottom: 40px;
}
.markdown .wrapper {
  margin-top: 60px;
}
.markdown h1 {
  font-size: 32px;
}
.markdown h2 {
  font-size: 26px;
}
.markdown h3 {
  font-size: 24px;
}
.markdown h4 {
  font-size: 21px;
}
.markdown h5 {
  font-size: 18px;
}
.markdown h6 {
  font-size: 16px;
}
.markdown strong {
  font-weight: 500;
}
.markdown pre {
  line-height: 20px;
  background: #fafafa;
  padding: 20px;
  white-space: pre;
  display: block;
  color: #333;
  overflow-x: auto;
}
.markdown p code,
.markdown ul code {
  background: #fafafa;
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #000;
}
.markdown code {
  font-size: 14px;
  line-height: 20px;
  overflow-x: auto;
}
.markdown h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.title {
  background: #f9f9f9;
  padding: 54px 0;
}
.title h1 {
  margin: 0 auto;
  font-family: 'Raleway';
  font-size: 42px;
  font-weight: 200;
  color: #585858;
  line-height: 49px;
}
.docs-aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 60px;
}
.docs-aside:before,
.docs-aside:after {
  content: '';
  display: table;
}
.docs-aside:after {
  clear: both;
}
.docs-aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .docs-aside {
    padding: 20px;
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 -20px;
    margin-bottom: 30px;
    background: #f9f9f9;
  }
}
.docs-aside-group {
  display: block;
  margin-bottom: 40px;
}
.docs-aside-group h3 {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 1em;
  color: #aaa;
}
.docs-aside-group a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  height: 28px;
  padding: 3px 0;
  color: #4a4a4a;
}
.docs-aside-group a.active {
  font-weight: 500;
  line-height: 21px;
  color: #e05b49;
}
@media only screen and (max-width: 600px) {
  .docs-aside-group {
    display: none;
  }
}
.docs-aside-navselect {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .docs-aside-navselect {
    display: block;
  }
}
.docs-content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 60px;
}
.docs-content:before,
.docs-content:after {
  content: '';
  display: table;
}
.docs-content:after {
  clear: both;
}
.docs-content:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 600px) {
  .docs-content {
    margin-top: 10px;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .docs-content:before,
  .docs-content:after {
    content: '';
    display: table;
  }
  .docs-content:after {
    clear: both;
  }
  .docs-content:last-child {
    margin-right: 0%;
  }
}
.docs-content >h1 {
  margin: 0;
  font-size: 32px;
}
@-moz-keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logo-dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes logo-dot {
  from {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes logo-dot {
  from {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes logo-dot {
  from {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes logo-dot {
  from {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
